*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: rgba(202, 5, 143, 0.705);
    background-image: url(bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:rgba(0, 0, 0, .5);
    height: 100vh;
}
.header{
    padding: 50px 20px 30px 20px;
}
.header h1{
    font-size: 50px;
    color: rgb(0, 217, 255);
    text-shadow:1px 3px rgba(0, 0, 0, .9);
    padding-bottom: 20px;
}
.header input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(0, 238, 255);
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.header input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(9, 243, 231);
}
.city{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 3px 3px rgba(0, 0, 0, .8);
}
.date, .hour{
    font-size: 20px;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
    margin-bottom: 15px;
}

.temp{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 15px rgba(0, 0, 0, .1);
}
.description{
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
    margin-bottom: 10px;
}
.temprange{
   font-size: 24px;
   text-shadow: 1px 3px rgba(0, 0, 0, .8);
   margin-bottom: 10px;
}
.humidity, .wind{
    font-size: 18px;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
    margin-bottom: 10px;
}
